@import "../../theme/vars";

.row {
    display: flex;
    flex-direction: row;
}

.responsive {
    flex-direction: column;
    @include respond_to(tablet_portrait) {
        flex-direction: row;
    }
}

.wrap {
    flex-wrap: wrap;
}

@for $i from 1 through 12 {
    .col-#{$i} {
        flex: $i;
    }
}

.container {
    width: 90%;
    margin: 0 auto;

    @include respond_to(tablet_portrait) {
        width: 80%;
    }
}
