@import '../../theme/vars';

.container {
    width: 90vw;
    min-height: 500px;
    transition: 0.5s opacity, 0.5s transform;

    @include respond_to(tablet_portrait) {
        width: 600px;
    }

    h1 {
        font-size: 2em;
        color: $colorPrimary;
        font-weight: normal;
        margin-bottom: 20px;
    }

    .card {
        padding: 20px;
        width: 100%;
        height: 100%;
        background: $colorBackground;
    }
}

.footer {
    text-align: right;
    padding: 20px 0 0 0;
}

.content {
    padding: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;

    @include respond_to(tablet_portrait) {
        padding: 20px 0 20px 0;
        &.left {
            padding-left: 40px;
            padding-right: 20px;
        }

        &.right {
            padding-right: 40px;
            padding-left: 20px;
        }
    }

    h1 {
        font-size: 2em;
        color: $colorPrimary;
        font-weight: normal;
        margin-bottom: 20px;
    }
}

.formCol {
    width: 100%;
    @include respond_to(tablet_portrait) {
        margin-right: 20px;
        width: calc(50% - 20px);
    }
}

.row {
    height: 100%;
}

.hidden {
    display: none;
}
