@import "../../theme/vars";

.search {
    padding: 0 20px 0 0;
    position: relative;
    transition: 0.4s width;

    &.focus {
        width: 100%;
    }

    width: 100%;
    @include respond_to(laptop) {
        width: 50%;
    }

    input {
        padding: 10px 20px;
        font-size: 1.3em;
        border: 0px;
        box-shadow: 1px 1px 4px $colorGrey;
        border-radius: 4px;
        width: 100%;
        transition: 0.4s box-shadow;

        &:focus {
            box-shadow: 2px 2px 4px $colorGrey;
        }

        &::placeholder {
            color: $colorGrey;
        }
    }
    .searchButton {
        position: absolute;
        top: 0;
        right: 20px;
        color: $colorGrey;
    }
}

.searchButton {
    border: 0px;
    background: transparent;
    padding: 10px;
    font-size: 1.5em;
    display: block;
    color: $colorBlack;
}
