@import '../../theme/vars';

.modal {
    transition: 0.5s opacity, 0.5s transform;
    text-align: center;
}

.footer {
    text-align: right;
    padding: 20px;
}

.content {
    font-size: 1.5em;
    color: $colorDanger;
    h2 {
        color: $colorDarkGrey;
        margin-top: 20px;
    }
}

.fieldError {
    color: $colorError;
    list-style-type: none;
    margin: 0;
    padding-top: 6px;
    padding-left: 3px;

    li {
        padding: 3px 0px;
    }
}
